* {
  margin: 0;
  padding: 0;
}
%wh {
  width: 100%;
  height: 100%;
}
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}
body,
html {
  @extend %wh;
}
body {
  @extend %center;
  flex-direction: column;
}
.wrap {
  width: 300px;
  height: 300px;
  background: #f6f6f6;
  @extend %center;
  flex-direction: column;
}
.qq {
  @extend %center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid #ebebeb;
  flex-direction: column;
}
.logo{
    position: relative;
    width: 5px;
    height: 38px;
    transform: rotate(-25deg);
    background-color: #1ECC94;
    &::before{
      content: "";
      position: absolute;
      bottom: -7px;
      left: -26px;
      width: 32px;
      height: 25px;
      background-color: #1ECC94;
      border-radius: 50%;
      transform: rotate(25deg);
    }
    .arrow{
      position: absolute;
      right: -25px;
      top: 0;
      width: 20px;
      height: 10px;
      background-color: #f00;
      transform: rotate(25deg);
      &::after{
        content: "";
        display: block;
        width: 550%;
        height: 25px;
        border-radius: 0 0 50% 50%;
        background-color: #f00;
      }
    }
}
