doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./style.css")
    body
      .tierd tired
        svg.svg(xmlns="http://www.w3.org/2000/svg")
          filter#filter
            feTurbulence(type="turbulence" baseFrequency="0" id="turbulence" numOctaves="1" result="turbulence" seed="5")
              animate(id="noiseAnimate" attributeName="baseFrequency" values="0.02; 0.04; 0.02" calcMode="spline" keySplines="0.42 0.0 0.58 1.0;0.42 0.0 0.58 1.0" dur="15s" repeatCount="indefinite")
            feDisplacementMap(in="SourceGraphic" in2="turbulence" scale="10" xChannelSelector="R" yChannelSelector="B")