doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./style.css")
    body
        .night
          .window
            - for (i = 0; i < 2; i++)
              .stars
                 - for (j = 0; j < 30; j++)
                    .shooting
                 - for (j = 0; j < 250; j++)
                     .star