doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./style.css")
    body
        .wrap
          img(src="./1.jpg", alt="")
          - for (i = 0; i < 500; i++)
             .flow
          