<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./style.css")                       
    body
        div.g-wrap
            -for(var i = 0; i<4; i++)
                div(class='g-queue g-queue'+(i+1))
                    -for(var j = 0; j<8; j++)
                        div(class='g-item g-item'+(j+1))
                            if j<=1
                                -for(var k = 0; k<1; k++)
                                    div(class='loading loading'+(i+1))
                                        div(class='shapeWrap shapeWrap'+(i+1))
                                            -for(var h = 0; h<4; h++)
                                                section(class='shape shape'+(h+1)) 
                            else if 2<=j<=6
                                 div(class='c-loading c-loading'+(j+1))
                                                       