* {
  margin: 0;
  padding: 0;
}

%wh {
  width: 100%;
  height: 100%;
}

html,
body {
  @extend %wh;
  background-color: #abcdef;
  // background: linear-gradient(to right, rgb(201, 255, 191), rgb(255, 175, 189));
}

.g-wrap {
  width: 50%;
  margin: auto;
  display: flex;
}

.g-queue {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-basis: 24%;

  .g-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .loading {
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .shapeWrap {
    position: relative;

    .shape1 {
      background-color: #1875e5;
    }

    .shape2 {
      background-color: #c5523f;
    }

    .shape3 {
      background-color: #499255;
    }

    .shape4 {
      background-color: #f2b736;
    }

    .shape {
      width: 10px;
      height: 10px;
    }
  }

  .g-item1 {
    .shape {
      position: absolute;
    }

    .shapeWrap1 {
      //  借助坐标轴来看怎么translate，X轴正方向是平移坐标轴的正方向；Y轴的负方向是平移的正方向（与数学里的直角坐标系相反）
      transform: rotate(45deg);

      .shape1 {
        left: 0;
        animation: Animation1ShapeWrap1 0.5s ease infinite alternate;
      }

      .shape2 {
        right: 0;
        animation: Animation1ShapeWrap2 0.5s ease infinite alternate;
      }

      .shape3 {
        bottom: 0;
        animation: Animation1ShapeWrap3 0.5s ease infinite alternate;
      }

      .shape4 {
        right: 0;
        bottom: 0;
        animation: Animation1ShapeWrap4 0.5s ease infinite alternate;
      }
    }

    .shapeWrap2 {
      width: 30px;
      height: 30px;
      position: relative;
      animation: Animation2Container 1s ease infinite;

      .shape {
        border-radius: 50%;
      }

      .shape1 {
        left: 0;
        animation: Animation2ShapeWrap1 0.5s ease infinite alternate;
      }

      .shape2 {
        right: 0;
        animation: Animation2ShapeWrap2 0.5s ease infinite alternate;
      }

      .shape3 {
        bottom: 0;
        animation: Animation2ShapeWrap3 0.5s ease infinite alternate;
      }

      .shape4 {
        right: 0;
        bottom: 0;
        animation: Animation2ShapeWrap4 0.5s ease infinite alternate;
      }
    }

    .shapeWrap3 {
      width: 30px;
      height: 30px;
      // position: relative;
      animation: Animation2Container 1s ease infinite;

      .shape1 {
        left: 0;
        border-top-left-radius: 100%;
        animation: Animation3ShapeWrap1 0.5s ease infinite alternate;
      }

      .shape2 {
        right: 0;
        border-top-right-radius: 100%;
        animation: Animation3ShapeWrap2 0.5s ease infinite alternate;
      }

      .shape3 {
        bottom: 0;
        border-bottom-left-radius: 100%;
        animation: Animation3ShapeWrap3 0.5s ease infinite alternate;
      }

      .shape4 {
        right: 0;
        bottom: 0;
        border-bottom-right-radius: 100%;
        animation: Animation3ShapeWrap4 0.5s ease infinite alternate;
      }
    }

    .shapeWrap4 {
      width: 30px;
      height: 30px;
      // position: relative;
      animation: Animation2Container 1s ease infinite;

      .shape {
        border-radius: 50%;
      }

      .shape1 {
        left: 0;
        animation: Animation4ShapeWrap1 0.3s ease infinite alternate;
      }

      .shape2 {
        right: 0;
        animation: Animation4ShapeWrap2 0.3s ease 0.3s infinite alternate;
      }

      .shape3 {
        bottom: 0;
        animation: Animation4ShapeWrap3 0.3s ease 0.3s infinite alternate;
      }

      .shape4 {
        right: 0;
        bottom: 0;
        animation: Animation4ShapeWrap4 0.3s ease infinite alternate;
      }
    }
  }

  .g-item2 {
    .shapeWrap1 {
      .shape {
        width: 15px;
        height: 15px;
        position: absolute;
      }

      .shape1 {
        left: 0;
        animation: Animation5ShapeWrap4 2s ease infinite;
      }

      .shape2 {
        right: 0;
        animation: Animation5ShapeWrap3 2s ease infinite;
      }

      .shape3 {
        bottom: 0;
        animation: Animation5ShapeWrap2 2s ease infinite;
      }

      .shape4 {
        right: 0;
        bottom: 0;
        animation: Animation5ShapeWrap1 2s ease infinite;
      }
    }

    .shapeWrap2 {
      width: 30px;
      height: 30px;
      position: relative;

      .shape {
        width: 13px;
        height: 13px;
        position: absolute;
        border-radius: 2px;
        position: absolute;
      }

      .shape1 {
        left: 0;
        animation: Animation6ShapeWrap1 2s linear infinite;
      }

      .shape2 {
        right: 0;
        animation: Animation6ShapeWrap2 2s linear infinite;
      }

      .shape3 {
        bottom: 0;
        animation: Animation6ShapeWrap3 2s linear infinite;
      }

      .shape4 {
        right: 0;
        bottom: 0;
        animation: Animation6ShapeWrap4 2s linear infinite;
      }
    }

    .shapeWrap3 {
      font-size: 0;

      .shape {
        display: inline-block;
        border-radius: 50%;
      }

      .shape1 {
        animation: Animation7ShapeWrap1 0.5s ease infinite alternate;
      }

      .shape4 {
        animation: Animation7ShapeWrap2 0.5s -0.5s ease infinite alternate;
      }
    }

    .shapeWrap4 {
      .shape {
        display: inline-block;
      }

      .shape1 {
        animation: Animation8ShapeWrap1 1s linear infinite alternate;
      }

      .shape2 {
        animation: Animation8ShapeWrap2 1s linear 0.5s infinite alternate;
      }

      .shape3 {
        animation: Animation8ShapeWrap3 1s linear 0.8s infinite alternate;
      }

      .shape4 {
        animation: Animation8ShapeWrap4 1s linear 1s infinite alternate;
      }
    }
  }

  .g-item3,
  .g-item4,
  .g-item5 {
    .c-loading {
      width: 30px;
      height: 30px;
      border: 2px solid;
      border-top-color: #cdcdcd;
      border-left-color: #cdcdcd;
      border-right-color: #cdcdcd;
      border-bottom-color: #cdcdcd;
      border-radius: 50%;
    }
  }
}

.g-queue1 .c-loading3 {
  border-bottom-color: #c5523f !important;
  animation: Animation2Container 1s linear infinite;
}

.g-queue2 .c-loading3 {
  position: relative;
  animation: Animation2Container 1s linear infinite;

  &::after {
    position: absolute;
    content: "";
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border: 3px solid transparent;
    border-bottom-color: #c5523f;
    display: block;
    border-radius: 50%;
  }
}

.g-queue3 .c-loading3 {
  position: relative;
  animation: Animation2Container 1s linear infinite;

  &::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border: 3px solid transparent;
    border-bottom-color: #c5523f;
    display: block;
    border-radius: 50%;
  }
}

.g-queue4 .c-loading3 {
  position: relative;
  animation: Animation2Container 1s linear infinite;

  &::before {
    position: absolute;
    content: "";
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border: 3px solid transparent;
    border-bottom-color: #c5523f;
    border-top-color: #c5523f;
    display: block;
    border-radius: 50%;
  }
}

.g-queue1 .c-loading4 {
  position: relative;
  animation: Animation2Container 1s linear infinite;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c5523f;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.g-queue2 .c-loading4 {
  position: relative;
  animation: Animation2Container 1s linear infinite;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #c5523f;
  }

  &::before {
    left: -9px;
  }

  &::after {
    right: -9px;
  }
}

.g-queue3 .c-loading4 {
  position: relative;
  animation: Animation2Container 1s linear infinite;

  &::after {
    position: absolute;
    content: "";
    left: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #c5523f;
  }
}

.g-queue4 .c-loading4 {
  position: relative;
  border: 3px solid #c5523f !important;
  animation: Animation2Container 1s linear infinite;

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid #f2b736;
    left: 3px;
    border-radius: 50%;
  }
}

.g-queue1 .c-loading5 {
  position: relative;
  border-bottom-color: transparent !important;
  animation: Animation2Container 1s linear infinite;

  &::after {
    content: "";
    //  width: 15px;
    //  height: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid #c5523f;
    border-radius: 50%;
    border-top-color: transparent;
    animation: Animation3Container 0.5s linear infinite;
  }
}

.g-queue2 .c-loading5 {
  position: relative;
  border-bottom-style: dotted !important;
  animation: Animation2Container 1s linear infinite;

  &::after {
    content: "";
    // width: 15px;
    // height: 15px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid #c5523f;
    border-radius: 50%;
    border-top-style: dotted;
    animation: Animation3Container 0.5s linear infinite;
  }
}

.g-queue3 .c-loading5 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #c5523f;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transform-origin: right;
    animation: Animation2Container 1s linear infinite;
  }
}

.g-queue4 .c-loading5 {
  position: relative;
  border: none !important;

  &::after,
  &::before {
    content: "";
    // width: 30px;
    // height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation: Animation4Opcity 2s linear infinite;
  }

  &::after {
    animation-delay: 1s;
  }
}

.g-queue1 .c-loading6 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 3px solid #499255;
  border-right: 3px solid transparent;
  animation: Animation2Container 1s linear infinite;
}

.g-queue2 .c-loading6 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-top: 3px solid #499255;
  border-bottom: 3px solid #c5523f;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  animation: Animation2Container 1s linear infinite;
}

.g-queue3 .c-loading6 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid;
  //  border-top-color: #C5523F;
  //  border-left-color: #1875E5;
  //  border-right-color: #499255;
  //  border-bottom-color: #F2B736;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  animation: Animation2Container 1s linear infinite;
}

.g-queue4 .c-loading6 {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #1875e5;
  border-radius: 50%;
  border-top-color: transparent;
  animation: Animation2Container 1s linear infinite;

  &::after {
    position: absolute;
    left: -6px;
    top: -12px;
    transform: rotate(20deg);
    content: "";
    border: 11px solid #1875e5;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}

.g-queue1 .c-loading7 {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  animation: Animation5Translate 2s linear infinite;
  //  &::before{
  //    content: "";
  //    width: 100%;
  //    height: 100%;
  //    border-radius: 50%;
  //    position: absolute;
  //    top: 0;
  //    left: 0;
  //    bottom: 0;
  //    background-color: rgba(0, 0, 0, 0.9);
  //   // background-color: #f00;

  //  }
}

.g-queue2 .c-loading7 {
  width: 30px;
  height: 30px;
  background-color: #c5523f;
  border-radius: 50%;
  animation: Animation6Scale 1s linear infinite;
}

.g-queue3 .c-loading7 {
  position: relative;
  width: 30px;
  height: 30px;

  &::after,
  &::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #c5523f;
    animation: Animation6Scale 1s linear infinite;
  }

  &::after {
    animation-delay: 0.5s;
  }
}

.g-queue4 .c-loading7 {
  position: relative;
  width: 30px;
  height: 30px;

  &::after,
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #c5523f;
    position: absolute;
    left: 0;
    top: 0;
    animation: Animation7Scale 2s ease-in-out infinite;
  }

  &::after {
    animation-delay: 1s;
  }
}

.g-queue1 .c-loading8 {
  //  width: 30px;
  //  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 17px solid #fff;
  border-bottom-color: #c5523f;
  animation: Animation2Container 1s linear infinite;
}

// .g-queue2 .c-loading8{
//   position: relative;
//    width: 35px;
//    height: 35px;
//    background-color: #C5523F;
//    border-radius: 50%;
//   //  animation: Animation2Container 1s linear infinite;
//    &::after{
//      position: absolute;
//      top: 6px;
//      left: 6px;
//      content: "";
//      display: block;
//      width: 8px;
//      height: 8px;
//      background-color: #F2B736;
//      border-radius: 50%;
//      box-shadow: 15px 0 0 0 #F2B736,7px 15px 0 0 #F2B736;
//    }
// }
.g-queue2 .c-loading8 {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: Animation2Container 1s linear infinite;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    border: 4px solid #c5523f;
    border-top-color: transparent !important;
    border-left-color: transparent !important;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    // width: 15px;
    // height: 15px;
    border: 8px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

.g-queue3 .c-loading8 {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: Animation2Container 1s linear infinite;

  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 18px solid rgba(255, 255, 255, 0.2);
    border-top-color: transparent;
    border-bottom-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.g-queue4 .c-loading8 {
  position: relative;
  width: 30px;
  height: 30px;
  //  border: 1px solid #fff;
  animation: Animation2Container 1s linear infinite;

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    content: "";
    width: 10px;
    height: 10px;
  }

  &::after {
    left: 0;
    background-color: #c5523f;
  }

  &::before {
    right: 0;
    background-color: #499255;
  }
}

.g-queue1 .c-loading9 {
  position: relative;
  width: 30px;
  height: 30px;
  //  border: 1px solid #fff;
  animation: Animation8Rotate 0.8s linear infinite alternate;

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    content: "";
    width: 10px;
    height: 10px;
  }

  &::after {
    left: 0;
    background-color: #c5523f;
  }

  &::before {
    right: 0;
    background-color: #499255;
  }
}

.g-queue2 .c-loading9 {
  position: relative;
  width: 30px;
  height: 30px;

  //  border: 1px solid #fff;
  &::after,
  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    content: "";
    width: 10px;
    height: 10px;
    animation: Animation10Scale 1s ease-in-out infinite;
  }

  &::after {
    left: 0;
    background-color: #c5523f;
    animation-delay: 0.5s;
  }

  &::before {
    right: 0;
    background-color: #499255;
  }
}

.g-queue3 .c-loading9 {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: Animation2Container 1s linear infinite;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: Animation12Translate 1s ease-in-out infinite;
  }

  &::after {
    background-color: #c5523f;
    transform: scale(0.5) translate(-38px, -38px);
  }

  &::before {
    background-color: #499255;
  }
}

.g-queue4 .c-loading9 {
  width: 10px;
  height: 10px;
  background-color: #c5523f;
  border-radius: 50%;
  opacity: 1;
  animation: Animation13BoxShadow 0.8s linear infinite alternate;
}

.g-queue1 .c-loading10 {
  width: 10px;
  height: 10px;
  background-color: #c5523f;
  color: #c5523f;
  border-radius: 50%;
  box-shadow: -20px 0, 20px 0;
  animation: Animation14BoxShadow 1s linear infinite alternate;
}

.g-queue2 .c-loading10 {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  color: #1875e5;
  animation: Animation15BoxShadow 1s linear infinite alternate;
}

.g-queue3 .c-loading10 {
  width: 10px;
  height: 10px;
  background-color: #c5523f;
  color: #1875e5;
  border-radius: 50%;
  box-shadow: -20px 0 0 #1875e5, 20px 0 0 #499255;
  animation: Animation2Container 1s ease-in-out infinite;
}

.g-queue4 .c-loading10 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  color: #fff;
  left: -100px;
  overflow: hidden;
  animation: Animation16BoxShadow 2s linear infinite;
}

.g-queue1 .c-loading11 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  color: #fff;
  animation: Animation17BoxShadow 1.5s linear infinite;
}

.g-queue2 .c-loading11 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  color: #fff;
  animation: Animation18BoxShadow 1.5s linear infinite alternate;
}

.g-queue3 .c-loading11 {
  width: 15px;
  height: 15px;
  border: 10px solid #fff;
  border-radius: 10px;
  border-top-color: #c5523f;
  border-left-color: #c5523f;
  border-right-color: #1875e5;
  border-bottom-color: #1875e5;
  animation: Animation19Border 1s ease-out infinite;
}

.g-queue4 .c-loading11 {
  width: 15px;
  height: 15px;
  border: 10px solid #fff;
  border-radius: 10px;
  border-top-color: #c5523f;
  border-left-color: #499255;
  border-right-color: #1875e5;
  border-bottom-color: #f2b736;
  transform: scale(0.7);
  animation: Animation20Border 2s ease-out infinite;
}

.g-queue1 .c-loading12 {
  width: 15px;
  height: 15px;
  border: 15px ridge #fff;
  border-radius: 50%;
  border-top-color: #c5523f;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #f2b736;
  transform: scale(0.7);
  animation: Animation21Border 1s ease-out infinite;
}

.g-queue2 .c-loading12 {
  width: 0;
  height: 0;
  border: 15px ridge #fff;
  border-radius: 50%;
  border-top-color: #c5523f;
  border-left-color: #499255;
  border-right-color: #1875e5;
  border-bottom-color: #f2b736;
  transform: scale(0.7);
  animation: Animation21Border 1s ease-out infinite;
}

.g-queue3 .c-loading12 {
  width: 20px;
  height: 20px;
  border: 10px solid maroon;
  border-radius: 50%;
  animation: Animation22Border 1s ease-out infinite;
}

.g-queue4 .c-loading12 {
  position: relative;
  width: 30px;
  height: 30px;

  &::after,
  &::before {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    content: "";
    animation: Animation2Container 2s ease-in-out infinite;
  }

  &::after {
    border: 2px solid #fff;
  }

  &::before {
    border: 2px solid #c5523f;
    animation-delay: 1s;
  }
}

.g-queue1 .c-loading13 {
  position: relative;
  width: 30px;
  height: 30px;

  &::after,
  &::before {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    content: "";
    animation: Animation23Opacity 2s ease-in-out infinite;
  }

  &::after {
    border: 2px solid #fff;
  }

  &::before {
    border: 2px solid #c5523f;
    animation-delay: 1s;
  }
}

.g-queue2 .c-loading13 {
  position: relative;
  width: 30px;
  height: 30px;

  &::after,
  &::before {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    content: "";
    animation: Animation2Container 4s ease-in-out infinite alternate;
  }

  &::after {
    border: 2px solid #fff;
  }

  &::before {
    border: 2px solid #c5523f;
    animation-direction: alternate-reverse;
  }
}

.g-queue3 .c-loading13 {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border: 2px solid #499255;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #499255;
    animation: Animation25Height 2s ease-in-out infinite alternate;
  }
}

.g-queue4 .c-loading13 {
  width: 30px;
  height: 30px;
  background-color: #c5523f;
  animation: Animation24Perspective 2s ease-in-out infinite;
}

.g-queue1 .c-loading14 {
  width: 15px;
  height: 15px;
  background-color: #c5523f;
  color: #c5523f;
  animation: Animation26Boxshadow 2s linear infinite alternate;
}

.g-queue2 .c-loading14 {
  width: 40px;
  height: 4px;
  margin-top: -60px;
  color: #c5523f;
  border-radius: 20px;
  animation: Animation27Translate 0.6s linear infinite;
}

.g-queue3 .c-loading14 {
  width: 4px;
  height: 4px;
  display: inline-block;
  position: relative;
  background-color: #c5523f;
  border-radius: 4px;
  color: #fff;
  animation: Animation29Width 0.3s -0.3s linear infinite alternate;

  &::after,
  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 15px;
    border-radius: 4px;
    transform: translateX(-50%);
    animation: Animation29Width 0.3s 0.45s linear infinite alternate;
  }

  &::after {
    background-color: #f2b736;
    top: -15px;
    animation-delay: 0s;
  }

  &::before {
    // margin-top: 10px;
    background-color: #499255;
  }
}

.g-queue4 .c-loading14 {
  width: 15px;
  height: 15px;
  background-color: #1875e5;
  animation: Animation28Translate 2s linear infinite;
}

.g-queue1 .c-loading15 {
  position: relative;
  width: 120px;
  height: 3px;
  background-color: #c5523f;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  animation: Animation30width 2s linear infinite;

  &::after,
  &::before {
    position: absolute;
    right: 0;
    content: "";
    width: 12px;
    height: 0.8px;
    background-color: #fff;
  }

  &::after {
    bottom: 10px;
    transform: rotate(45deg);
    animation: Animation31Translate 0.3s linear infinite;
  }

  &::before {
    top: 10px;
    transform: rotate(-45deg);
    animation: Animation32Translate 0.3s linear infinite;
  }
}

.g-queue2 .c-loading15 {
  position: relative;
  width: 120px;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(197, 82, 63, 0.4);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 4px;
    background-size: 15px 15px;
    background-color: #fff;
    background-image: linear-gradient(45deg,
        rgba(0, 0, 0, 0.25) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, 0.25) 50%,
        rgba(0, 0, 0, 0.25) 75%,
        transparent 75%,
        transparent);
    animation: Animation33BG 6s linear infinite;
  }
}

.g-queue3 .c-loading15 {
  position: relative;
  width: 120px;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(197, 82, 63, 0.4);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 4px;
    background-size: 15px 15px;
    background-color: #fff;
    background-image: linear-gradient(45deg,
        rgba(0, 0, 0, 0.25) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, 0.25) 50%,
        rgba(0, 0, 0, 0.25) 75%,
        transparent 75%,
        transparent);
    animation: Animation33BG 6s linear infinite, barStripe 1s linear infinite;
  }
}

.g-queue4 .c-loading15 {
  width: 96px;
  height: 24px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  background: linear-gradient(45deg,
      transparent 49%,
      #fff 50%,
      #fff 50%,
      transparent 51%,
      transparent),
    linear-gradient(-45deg,
      transparent 49%,
      #fff 50%,
      #fff 50%,
      transparent 51%,
      transparent);
  font-size: 15px;
  background-size: 1em 1em;
  -webkit-animation: barStripe 0.6s linear infinite;
  animation: barStripe 0.6s linear infinite;
}

.g-queue1 .c-loading16 {
  width: 175px;
  height: 80px;
  position: relative;

  &::after {
    content: "";
    left: 60px;
    bottom: 18px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #499255;
    background-image: radial-gradient(circle 8px at 18px 18px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 18px 0px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 0px 18px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 36px 18px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 18px 36px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 30px 5px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 30px 5px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 30px 30px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 5px 30px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 4px at 5px 5px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0);
    background-repeat: no-repeat;
    animation: Animation34Rotate 3s linear infinite;
  }

  &::before {
    content: "";
    left: 94px;
    bottom: 15px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #c5523f;
    background-image: radial-gradient(circle 5px at 12px 12px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 12px 0px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 0px 12px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 24px 12px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 12px 24px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 20px 3px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 20px 3px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 20px 20px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 3px 20px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0),
      radial-gradient(circle 2.5px at 3px 3px,
        rgba(0, 0, 0, 0.9) 100%,
        transparent 0);
    background-repeat: no-repeat;
    animation: Animation34Rotate 4s linear infinite;
  }
}

.g-queue2 .c-loading16 {
  position: relative;
  width: 15px;
  height: 20px;
  background-color: #f2b736;
  animation: Animation35Jump 0.4s ease-in infinite alternate;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    border: 15px solid transparent;
    border-top-color: #f2b736;
  }
}

.g-queue3 .c-loading16 {
  width: 48px;
  height: 24px;
  border: 1px solid #1875e5;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -5px;
    top: 50%;
    width: 5px;
    height: 12px;
    transform: translateY(-50%);
    background-color: #1875e5;
  }

  &::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 2px;
    bottom: 2px;
    width: 6px;
    background-color: transparent;
    animation: Animation36BoxShadow 3s linear infinite;
  }
}

.g-queue4 .c-loading16 {
  position: relative;
}

.g-queue4 .c-loading16>div:first-child {
  width: 32px;
  height: 32px;
  background-color: #c5523f;
  border-radius: 10%;
  animation: Animation38BorderRadius .6s linear infinite;

}

.g-queue4 .c-loading16>div:last-child {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 12%;
  border-radius: 50%;
  background: rgba(197, 82, 63, 0.2);
  animation: Animation37Shadow .6s -.1s linear infinite;
}

.g-queue1 .c-loading17 {
  display: block;
  font-size: 0;
  color: #499255;
  width: 48px;
  height: 36px;

  div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 100%;
    animation-name: Animation39Scale;
    animation-iteration-count: infinite;

    &:nth-child(1) {
      animation-duration: .65s;
      animation-delay: .03s;
    }

    &:nth-child(2) {
      animation-duration: 1.02s;
      animation-delay: .09s;
    }

    &:nth-child(3) {
      animation-duration: 1.06s;
      animation-delay: .69s;
    }

    &:nth-child(4) {
      animation-duration: 1.5s;
      animation-delay: .41s;
    }

    &:nth-child(5) {
      animation-duration: 1.6s;
      animation-delay: .04s;
    }

    &:nth-child(6) {
      animation-duration: .84s;
      animation-delay: .07s;
    }

    &:nth-child(7) {
      animation-duration: 1.6s;
      animation-delay: .04s;
    }

    &:nth-child(8) {
      animation-duration: .68s;
      animation-delay: .66s;
    }

    &:nth-child(9) {
      animation-duration: .93s;
      animation-delay: .76s;
    }
  }
}

.g-queue2 .c-loading17 {
  display: block;
  font-size: 0;
  color: #c5523f;
  width: 48px;
  height: 36px;

  div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 100%;
    animation-name: Animation40Opacity;
    animation-iteration-count: infinite;

    &:nth-child(1) {
      animation-duration: .65s;
      animation-delay: .03s;
    }

    &:nth-child(2) {
      animation-duration: 1.02s;
      animation-delay: .09s;
    }

    &:nth-child(3) {
      animation-duration: 1.06s;
      animation-delay: .69s;
    }

    &:nth-child(4) {
      animation-duration: 1.5s;
      animation-delay: .41s;
    }

    &:nth-child(5) {
      animation-duration: 1.6s;
      animation-delay: .04s;
    }

    &:nth-child(6) {
      animation-duration: .84s;
      animation-delay: .07s;
    }

    &:nth-child(7) {
      animation-duration: 1.6s;
      animation-delay: .04s;
    }

    &:nth-child(8) {
      animation-duration: .68s;
      animation-delay: .66s;
    }

    &:nth-child(9) {
      animation-duration: .93s;
      animation-delay: .76s;
    }
  }
}

.g-queue3 .c-loading17,
.g-queue4 .c-loading17 {
  position: relative;
  display: block;
  font-size: 0;
  width: 52px;
  height: 52px;
  color: #f2b736;
}

.g-queue3 .c-loading17>div {
  position: relative;
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
  border-radius: 100%;
  transform: scale(.4);

  animation: Animation41Scale 1s ease-in-out infinite;
  &:nth-child(9){
    display: none; // pug模板生成的，手动隐藏一下
  }
  &:nth-child(1){
    top: 0;
    left: 0;
    
    animation-delay: -1.125s;
  }
  &:nth-child(2){
    top: 0;
    left: 50%;

    animation-delay: -1.25s;
  }
  &:nth-child(3){
    top: 0;
    left: 100%;

    animation-delay: -1.375s;
  }
  &:nth-child(4){
    top: 50%;
    left: 100%;

    animation-delay: -1.5s;
  }
  &:nth-child(5){
    top: 100%;
    left: 100%;

    animation-delay: -1.625s;
  }
  &:nth-child(6){
    top: 100%;
    left: 50%;

    animation-delay: -1.75s;
  }
  &:nth-child(7){
    top: 100%;
    left: 0%;

    animation-delay: -1.875s;
  }
  &:nth-child(8){
    top: 50%;
    left: 0%;

    animation-delay: -2s;
  }
}
.g-queue4 .c-loading17>div {
  position: relative;
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin-top: -9px;
  margin-left: -9px;
  border-radius: 100%;
  transform: scale(.4);

  animation: Animation41Scale 1s ease-in-out infinite;
  &:nth-child(9){
    display: none; // pug模板生成的，手动隐藏一下
  }
  &:nth-child(1){
    top: 0;
    left: 0;
    
    animation-delay: -.875s;
  }
  &:nth-child(2){
    top: 0;
    left: 50%;

    animation-delay: -.75s;
  }
  &:nth-child(3){
    top: 0;
    left: 100%;

    animation-delay: -.625s;
  }
  &:nth-child(4){
    top: 50%;
    left: 100%;

    animation-delay: -.5s;
  }
  &:nth-child(5){
    top: 100%;
    left: 100%;

    animation-delay: -.375s;
  }
  &:nth-child(6){
    top: 100%;
    left: 50%;

    animation-delay: -.25s;
  }
  &:nth-child(7){
    top: 100%;
    left: 0%;

    animation-delay: -.125s;
  }
  &:nth-child(8){
    top: 50%;
    left: 0%;

    animation-delay: 0s;
  }
}


@keyframes Animation1ShapeWrap1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-16px, -16px);
    transform: translate(-16px, -16px);
  }
}

@keyframes Animation1ShapeWrap2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(16px, -16px);
    transform: translate(16px, -16px);
  }
}

@keyframes Animation1ShapeWrap3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-16px, 16px);
    transform: translate(-16px, 16px);
  }
}

@keyframes Animation1ShapeWrap4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(16px, 16px);
    transform: translate(16px, 16px);
  }
}

@keyframes Animation2ShapeWrap1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
  }
}

@keyframes Animation2ShapeWrap2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-20px, 20px);
    transform: translate(-20px, 20px);
  }
}

@keyframes Animation2ShapeWrap3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(20px, -20px);
    transform: translate(20px, -20px);
  }
}

@keyframes Animation2ShapeWrap4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
}

@keyframes Animation2Container {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes Animation3Container {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes Animation4Opcity {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes Animation5Translate {
  0% {
    box-shadow: -48px 0 0 0 #c5523f inset;
    /* 改变内投影实现移动效果 */
  }

  100% {
    box-shadow: 48px 0 0 0 #c5523f inset;
  }
}

@keyframes Animation6Scale {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes Animation7Scale {

  0%,
  100% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes Animation8Rotate {
  0% {
    transform: rotate(0) scale(0);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes Animation9Rotate {
  0% {
    transform: rotate(0) scale(0);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes Animation10Scale {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes Animation11Translate {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes Animation12Translate {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes Animation13BoxShadow {
  0% {
    box-shadow: 0 0, 0 0;
    color: rgba(197, 82, 63, 0.2);
  }

  100% {
    box-shadow: -15px 0, 15px 0;
    color: rgba(197, 82, 63, 0.8);
  }
}

@keyframes Animation14BoxShadow {
  0% {
    box-shadow: -20px 0 0 0 #f2b736, 20px 0;
  }

  50% {
    color: #c5523f;
    box-shadow: -20px 0, 20px 0;
    background-color: #f2b736;
  }

  100% {
    box-shadow: -20px 0, 20px 0 0 #f2b736;
  }
}

@keyframes Animation15BoxShadow {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }

  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }

  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }

  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}

@keyframes Animation16BoxShadow {
  0% {
    box-shadow: 0 0 rgba(197, 82, 63, 1), 0 0 rgba(73, 146, 85, 1),
      0 0 rgba(242, 183, 54, 1), 0 0 rgba(24, 117, 22, 1);
  }

  12% {
    box-shadow: 100px 0 rgba(197, 82, 63, 1), 0 0 rgba(73, 146, 85, 1),
      0 0 rgba(242, 183, 54, 1), 0 0 rgba(24, 117, 22, 1);
  }

  25% {
    box-shadow: 110px 0 rgba(197, 82, 63, 1), 100px 0 rgba(73, 146, 85, 1),
      0 0 rgba(242, 183, 54, 1), 0 0 rgba(24, 117, 22, 1);
  }

  36% {
    box-shadow: 120px 0 rgba(197, 82, 63, 1), 110px 0 rgba(73, 146, 85, 1),
      100px 0 rgba(242, 183, 54, 1), 0 0 0 rgba(24, 117, 22, 1);
  }

  50% {
    box-shadow: 130px 0 rgba(197, 82, 63, 1), 120px 0 rgba(73, 146, 85, 1),
      110px 0 rgba(242, 183, 54, 1), 100px 0 rgba(24, 117, 22, 1);
  }

  62% {
    box-shadow: 200px 0 rgba(197, 82, 63, 0), 130px 0 rgba(73, 146, 85, 1),
      120px 0 rgba(242, 183, 54, 1), 110px 0 rgba(24, 117, 22, 1);
  }

  75% {
    box-shadow: 200px 0 rgba(197, 82, 63, 0), 200px 0 rgba(73, 146, 85, 0),
      130px 0 rgba(242, 183, 54, 1), 120px 0 rgba(24, 117, 22, 1);
  }

  87% {
    box-shadow: 200px 0 rgba(197, 82, 63, 0), 200px 0 rgba(73, 146, 85, 0),
      200px 0 rgba(242, 183, 54, 0), 130px 0 rgba(24, 117, 22, 1);
  }

  100% {
    box-shadow: 200px 0 rgba(197, 82, 63, 0), 200px 0 rgba(73, 146, 85, 0),
      200px 0 rgba(242, 183, 54, 0), 200px 0 rgba(24, 117, 22, 0);
  }
}

@keyframes Animation17BoxShadow {
  0% {
    box-shadow: -15px 0 0 0 #1875e5, -35px 0 0 0 #c5523f, 15px 0 0 0 #f2b736,
      35px 0 0 0 #499255;
  }

  25% {
    box-shadow: -15px 0 0 0 #1875e5, -35px 0 0 5px #c5523f, 15px 0 0 #f2b736,
      35px 0 0 #499255;
  }

  50% {
    box-shadow: -15px 0 0 5px #1875e5, -35px 0 0 0 #c5523f, 15px 0 0 #f2b736,
      35px 0 0 #499255;
  }

  75% {
    box-shadow: -15px 0 0 #1875e5, -35px 0 0 #c5523f, 15px 0 0 5px #f2b736,
      35px 0 0 #499255;
  }

  100% {
    box-shadow: -15px 0 0 #1875e5, -35px 0 0 #c5523f, 15px 0 0 #f2b736,
      35px 0 0 5px #499255;
  }
}

@keyframes Animation18BoxShadow {
  0% {
    box-shadow: -15px 0 0 0 #1875e5, -35px 0 0 0 #c5523f, 15px 0 0 0 #f2b736,
      35px 0 0 0 #499255;
  }

  25% {
    box-shadow: -15px 0 0 0 #1875e5, -35px -10px 0 0 #c5523f, 15px 0 0 #f2b736,
      35px 0 0 #499255;
  }

  50% {
    box-shadow: -15px -10px 0 0 #1875e5, -35px 0 0 0 #c5523f, 15px 0 0 #f2b736,
      35px 0 0 #499255;
  }

  75% {
    box-shadow: -15px 0 0 #1875e5, -35px 0 0 #c5523f, 15px -10px 0 0 #f2b736,
      35px 0 0 #499255;
  }

  100% {
    box-shadow: -15px 0 0 #1875e5, -35px 0 0 #c5523f, 15px 0 0 #f2b736,
      35px -10px 0 0 #499255;
  }
}

@keyframes Animation19Border {
  50% {
    border-radius: 50%;
    transform: rotate(180deg);
  }

  100% {
    border-radius: 10px;
    transform: rotate(360deg);
  }
}

@keyframes Animation20Border {
  50% {
    transform: rotate(180deg) scale(1.2);
    border-style: dotted;
  }

  100% {
    transform: rotate(360deg) scale(0.7);
  }
}

@keyframes Animation21Border {
  0% {
    transform: rotate(0) scale(0.7);
  }

  50% {
    transform: rotate(180deg) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(0.7);
  }
}

@keyframes Animation22Border {
  50% {
    transform: rotatez(180deg);
    border-style: dashed;
    border-color: red maroon indianred orangered;
  }

  100% {
    transform: rotatez(360deg);
  }
}

@keyframes Animation23Opacity {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes Animation24Perspective {
  0% {
    transform: perspective(200px) rotateX(0) rotateY(0);
  }

  50% {
    transform: perspective(200px) rotateX(-180deg) rotateY(0);
  }

  100% {
    transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes Animation25Height {
  0% {
    transform: translateY(110%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes Animation26Boxshadow {
  0% {
    box-shadow: 0 0, 0 0, 0 0;
  }

  33% {
    box-shadow: 15px 0, 15px 0, 15px 0, 15px 0;
  }

  66% {
    box-shadow: 15px 0, 15px 15px, 15px 15px, 15px 15px;
  }

  100% {
    box-shadow: 15px 0, 15px 15px, 0px 15px, 0 0;
  }
}

@keyframes Animation27Translate {
  0% {
    box-shadow: -10px 20px, 10px 35px, 0px 50px;
  }

  25% {
    box-shadow: 0px 20px, 0px 35px, 10px 50px;
  }

  50% {
    box-shadow: 10px 20px, -10px 35px, 0px 50px;
  }

  75% {
    box-shadow: 0px 20px, 0px 35px, -10px 50px;
  }

  100% {
    box-shadow: -10px 20px, 10px 35px, 0px 50px;
  }
}

@keyframes Animation28Translate {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }

  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }

  50% {
    transform: translate(100%, 100%) rotateX(180deg) rotateY(180deg);
  }

  75% {
    transform: translate(0, 100%) rotateX(180deg) rotateY(0);
  }

  100% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
}

@keyframes Animation29Width {
  0% {
    width: 4px;
  }

  100% {
    width: 35px;
  }
}

@keyframes Animation30width {
  0% {
    width: 0;
  }

  100% {
    width: 120px;
  }
}

@keyframes Animation31Translate {
  0% {
    transform: rotate(45deg) translateX(0);
    opacity: 0.7;
  }

  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes Animation32Translate {
  0% {
    transform: rotate(-45deg) translateX(0);
    opacity: 0.7;
  }

  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes Animation33BG {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes Animation34Rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes Animation35Jump {
  0% {
    transform: translate(-50%, 5px);
  }

  100% {
    transform: translate(-50%, -5px);
  }
}

@keyframes Animation36BoxShadow {
  0% {
    box-shadow: 14px 0 0 0 transparent, 26px 0 0 0 transparent,
      38px 0 0 0 transparent, 50px 0 0 0 transparent;
  }

  25% {
    box-shadow: 14px 0 0 0 #1875e5, 26px 0 0 0 transparent,
      38px 0 0 0 transparent, 50px 0 0 0 transparent;
  }

  50% {
    box-shadow: 14px 0 0 0 #1875e5, 26px 0 0 0 #1875e5, 38px 0 0 0 transparent,
      50px 0 0 0 transparent;
  }

  75% {
    box-shadow: 14px 0 0 0 #1875e5, 26px 0 0 0 #1875e5, 38px 0 0 0 #1875e5,
      50px 0 0 0 transparent;
  }

  100% {
    box-shadow: 14px 0 0 0 #1875e5, 26px 0 0 0 #1875e5, 38px 0 0 0 #1875e5,
      50px 0 0 0 #1875e5;
  }
}

@keyframes Animation37Shadow {
  50% {
    transform: scale(1.25, 1);
    /* opacity: .01; */
  }
}

@keyframes Animation38BorderRadius {
  17% {
    border-bottom-right-radius: 10%;
  }

  25% {
    transform: translateY(25%) rotate(22.5deg);
  }

  50% {
    border-bottom-right-radius: 100%;
    transform: translateY(50%) scale(1, .9) rotate(45deg);
  }

  75% {
    transform: translateY(25%) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes Animation39Scale {

  0%,
  100% {
    transform: scale(.45);
    opacity: .6;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes Animation40Opacity {
  50% {
    opacity: .35;
  }

  0%,
  100% {
    opacity: 1;
  }
}
@keyframes Animation41Scale{
  0%,
  40%,
  100%{
      transform: scale(.4);
  }
  70%{
      transform: scale(1.2);
  }
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }

  100% {
    background-position: 0em 0;
  }
}

@keyframes Animation3ShapeWrap1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    transform: translate(5px, 5px);
  }
}

@keyframes Animation3ShapeWrap2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-5px, 5px);
  }
}

@keyframes Animation3ShapeWrap3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    transform: translate(5px, -5px);
  }
}

@keyframes Animation3ShapeWrap4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-5px, -5px);
  }
}

@keyframes Animation4ShapeWrap1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
}

@keyframes Animation4ShapeWrap2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
}

@keyframes Animation4ShapeWrap3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
}

@keyframes Animation4ShapeWrap4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
}

@keyframes Animation5ShapeWrap1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
  }

  50% {
    -webkit-transform: translate(15px, 15px);
    transform: translate(15px, 15px);
  }

  75% {
    -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes Animation5ShapeWrap2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(0px, 15px);
    transform: translate(0px, 15px);
  }

  50% {
    -webkit-transform: translate(-15px, 15px);
    transform: translate(-15px, 15px);
  }

  75% {
    -webkit-transform: translate(-15px, 0px);
    transform: translate(-15px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes Animation5ShapeWrap3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(0px, -15px);
    transform: translate(0px, -15px);
  }

  50% {
    -webkit-transform: translate(15px, -15px);
    transform: translate(15px, -15px);
  }

  75% {
    -webkit-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes Animation5ShapeWrap4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(-15px, 0px);
    transform: translate(-15px, 0px);
  }

  50% {
    -webkit-transform: translate(-15px, -15px);
    transform: translate(-15px, -15px);
  }

  75% {
    -webkit-transform: translate(0px, -15px);
    transform: translate(0px, -15px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes Animation6ShapeWrap1 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(17px, 0px);
    transform: translate(17px, 0px);
  }

  50% {
    -webkit-transform: translate(17px, 17px);
    transform: translate(17px, 17px);
  }

  75% {
    -webkit-transform: translate(0px, 17px);
    transform: translate(0px, 17px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes Animation6ShapeWrap2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(0px, 17px);
    transform: translate(0px, 17px);
  }

  50% {
    -webkit-transform: translate(-17px, 17px);
    transform: translate(-17px, 17px);
  }

  75% {
    -webkit-transform: translate(-17px, 0px);
    transform: translate(-17px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes Animation6ShapeWrap3 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(0px, -17px);
    transform: translate(0px, -17px);
  }

  50% {
    -webkit-transform: translate(17px, -17px);
    transform: translate(17px, -17px);
  }

  75% {
    -webkit-transform: translate(17px, 0px);
    transform: translate(17px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes Animation6ShapeWrap4 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  25% {
    -webkit-transform: translate(-17px, 0px);
    transform: translate(-17px, 0px);
  }

  50% {
    -webkit-transform: translate(-17px, -17px);
    transform: translate(-17px, -17px);
  }

  75% {
    -webkit-transform: translate(0px, -17px);
    transform: translate(0px, -17px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@keyframes Animation7ShapeWrap1 {
  0% {
    transform: translate(-15px, -8px);
  }

  70% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes Animation7ShapeWrap2 {
  0% {
    transform: translate(15px, -8px);
  }

  70% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes Animation8ShapeWrap1 {
  0% {
    transfrom: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transfrom: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes Animation8ShapeWrap2 {
  0% {
    transfrom: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transfrom: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes Animation8ShapeWrap3 {
  0% {
    transfrom: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transfrom: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes Animation8ShapeWrap4 {
  0% {
    transfrom: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }

  100% {
    transfrom: scale(0.5);
    opacity: 0.5;
  }
}