* {
  margin: 0;
  padding: 0;
}
%wh{
  width: 100%;
  height: 100%;
}
html,body {
  @extend %wh;
  background: linear-gradient(to right, rgb(201, 255, 191), rgb(255, 175, 189));
}

.g-wrap{
  width: 50%;
  margin: auto;
  display: flex;

}
.g-queue{
   display: flex;
   flex-direction: column;
   margin:10px;
   flex-basis: 24%;
   .g-item{
     width: 100%;
     height: 190px;
     margin: 10px;
     background-color: rgba(0,0,0,0.9);
   }
   .loading1,.loading2{
     color: #fff;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     span{

     }
   }
}