@import url("https://fonts.googleapis.com/css?family=Sansita Swashed");
* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.nh-btn {
  width: 450px;
  padding: 20px 30px;
  border-radius: 6px;
  font-size: 48px;
  font: 100px "Sansita Swashed", "Kaushan Script", Futura, "Roboto", "Trebuchet MS", Helvetica, sans-serif;
  filter: brightness(110%);
  text-shadow: 0 0 5px #fff,  0 0 10px #fff,  0 0 15px #fff,  0 0 20px #e91e63, 0 0 35px #e91e63,  0 0 40px #e91e63,  0 0 50px #e91e63,  0 0 75px #e91e63;
  box-shadow: inset 0 0 1vw #1041ff,  0 0 3vw #1041ff,  inset 0 0 6vw #1041ff,  0 0 6vw #1041ff,  0 0 0.4vw #8bfdfe;
}

.nh-time {
  font-size: 80px;
  display: block;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #fed128;
  text-shadow: 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 0.4vw #fed128;
  font-weight: bold;
  letter-spacing: 5px;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: 9999;
}

.nh-status {
  float: right;
  margin-right: 30px;
}

@keyframes blink {
  from,
  20%,
  38%,
  43.25%,
  49.5%,
  51.125%,
  to {
    -webkit-text-stroke-color: #fed128;
    text-shadow: 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 3vw #fa1c16, 0 0 0.4vw #fed128;
  }
  20.5%,
  38.5%,
  43%,
  50%,
  51% {
    -webkit-text-stroke-color: #444444;
    text-shadow: 0 0 1vw #222222, 0 0 1vw #222222, 0 0 1vw #222222, 0 0 0.2vw #444444;
  }
}
